{#
 #
 # This file is part of the CSBill package.
 #
 # (c) Pierre du Plessis <info@customscripts.co.za>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
#}

{% extends "CSCoreBundle:Layout:single_column.html.twig" %}

{% block title %}{{ "CSBill Installation Success"|trans }}{% endblock %}

{% block sidebar %}{% endblock %}

{% block body %}
	<fieldset>
		<legend>
			<h1>{{ "Success"|trans }}</h1>
		</legend>

		<div class="well">
			<h3>{{ "You have successfully installed CSBill!"|trans }}</h3>
			<hr />
			<div class="clear">
				<a href="#" class="btn">{{ "Log In"|trans }}</a>
			</div>
		</div>
	</fieldset>
{% endblock %}
