{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<div class="control-group">
    {% if errors is not empty %}
        <div class="alert alert-danger">
            <strong>The following requirements were not met:</strong>
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            <br />
            Please ensure your system meets the minimum requirements before proceeding.
        </div>
    {% endif %}

	{% for check in checks %}
		<h3>{{ check.heading }}</h3>

		<div>
			<ul>
				{% for value in check.values %}
					<li>{{ value|replace({'OK' : icon('check', ['circle', 'o']), 'WARNING' : icon('exclamation', ['circle']), 'ERROR' : icon('ban')})|raw }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</div>
