{#
 #
 # This file is part of the CSBill package.
 #
 # (c) Pierre du Plessis <info@customscripts.co.za>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
#}

<div class="control-group">
    {% if errors is not empty %}
        <div class="alert alert-danger">
            <strong>The following requirements were not met:</strong>
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            <br />
            Please ensure your system meets the minimum requirements before proceeding.
        </div>
    {% endif %}

	{% for check in checks %}
		<h3>{{ check.heading }}</h3>

		<div>
			<ul>
				{% for value in check.values %}
					<li>{{ value|replace({'OK' : '<i class="icon-ok-circle"></i>', 'WARNING' : '<i class="icon-exclamation-sign"></i>', 'ERROR' : '<i class="icon-ban-circle"></i>'})|raw }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</div>
