{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<legend>
    <h3>
        {{ icon('file', ['text', 'o']) }} {{ "invoices"|trans }}
    </h3>
</legend>

<div class="widget">
    {{ render_multiple_grid(['active_invoice_grid', 'recurring_invoice_grid'], {'client' : client.id}) }}
</div>
