@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~admin-lte/build/scss/variables";

$body-bg: #FFFFFF;
@import "~admin-lte/build/scss/mixins";
@import "~admin-lte/build/scss/AdminLTE-core";

@import "theme";

h4 {
  margin: 0;
}

table.invoice-details, table.quote-details {
  border: 1px solid #999999;
  border-spacing: 0;

  thead {
    tr {
      border: 1px solid #999999;
      background-color: #efefef;
      margin: 0;

      th {
        margin: 0;
        padding: 8px;
        border-right: 1px solid #999999;
      }
    }
  }

  tbody {
    tr {
      td {
        border-bottom: 1px solid #999999;
        padding: 8px;
        border-right: 1px solid #999999;
      }
    }
  }

  tfoot {
    tr {
      td {
        padding: 8px;
      }
    }
  }
}

table.invoice-summary, table.quote-summary {
  float: right;
}
