@use 'sass:map';
@use 'sass:color';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';
@import 'colors';
@import '~admin-lte/build/scss/variables';
@import '~admin-lte/build/scss/variables-alt';
@import '~admin-lte/build/scss/mixins';

$light-blue: #1E88E7; /* Primary */
$red: #BF2600; /* Danger */
$green: #00875A; /* Success */
$aqua: #00C0EF; /* Info */
$yellow: #F39C12; /* Warning */
$blue: #0073B7;
$navy: #001F3F;
$teal: #39CCCC;
$olive: #3D9970;
$lime: #01FF70;
$orange: #FF991F;
$fuchsia: #F012BE;
$purple: #5243AA;
$maroon: #D81B60;
$black: #111111;
$gray-lte: #D2D6DE;
$warning: $deep-orange;
$primary: $light-blue;
$danger: $red;
$success: $green;
$info: $light-blue;
$btn-warning: $warning;
$btn-primary: $primary;
$btn-danger: $danger;
$btn-success: $success;
$btn-info: $info;
$theme-header-height: 70px;
$theme-header-padding: 15px;
$screen-header-collapse: map.get($grid-breakpoints, md) !default;

@import '~admin-lte/build/scss/main-header';
@import '~admin-lte/build/scss/main-sidebar';
@import '~admin-lte/build/scss/sidebar-mini';
@import '~admin-lte/build/scss/control-sidebar';
@import '~admin-lte/build/scss/dropdown';
@import '~admin-lte/build/scss/forms';
@import '~admin-lte/build/scss/progress-bars';
@import '~admin-lte/build/scss/small-box';
@import '~admin-lte/build/scss/info-box';
@import '~admin-lte/build/scss/timeline';
@import '~admin-lte/build/scss/buttons';
@import '~admin-lte/build/scss/callout';
@import '~admin-lte/build/scss/alerts';
@import '~admin-lte/build/scss/navs';
@import '~admin-lte/build/scss/mixins/navbar';
@import '~admin-lte/build/scss/products';
@import '~admin-lte/build/scss/table';
@import '~admin-lte/build/scss/direct-chat';
@import '~admin-lte/build/scss/users-list';
@import '~admin-lte/build/scss/carousel';
@import '~admin-lte/build/scss/modals';
@import '~admin-lte/build/scss/social-widgets';

/* PAGES
//-------------------------------------------------------- */
@import '~admin-lte/build/scss/pages/login_and_register';
@import '~admin-lte/build/scss/pages/invoice';
@import '~admin-lte/build/scss/pages/profile';

/* Plugins
//-------------------------------------------------------- */
@import '~admin-lte/build/scss/plugins/mixins';

/* Miscellaneous
//-------------------------------------------------------- */
@import '~admin-lte/build/scss/miscellaneous';
@import '~admin-lte/build/scss/print';

.loading-spinner {
    width: 200px;
    margin-left: -100px !important;
}

.clear {
    clear: both;
}

.left-sidebar {

    .divider {
        background-color: $grey-200;
        height: 1px;
    }
}

.dashboard-widget {

    .list-group-item {

        .badge {
            float: none;
        }
    }
}

/*
 * Skin: Default
 * -------------
 */

.skin-solidinvoice-default {
    background: #E9ECEF;

    .wrapper {
        background: #E9ECEF;
    }

    .main-header {
        box-shadow: 5px 0 10px rgb(0 0 0 / 50%);

        .navbar {
            min-height: $theme-header-height;
            padding: 0 15px 0 0;

            .sidebar-toggle {
                color: #FFFFFF;

                &:hover {
                    background-color: color.adjust($light-blue, $lightness: -5%);
                }
            }

            a {
                line-height: 40px;
                font-size: 1.1em;
            }

            @media ( max-width : $screen-header-collapse ) {

                .dropdown-menu {

                    li {

                        &.divider {
                            background-color: rgb(255 255 255 / 10%);
                        }

                        a {
                            color: #FFFFFF;

                            &:hover {
                                background: color.adjust($light-blue, $lightness: -5%);
                            }
                        }
                    }
                }
            }
        }

        .logo {
            height: $theme-header-height;

            .logo-lg {
                height: 40px;
                margin: $theme-header-padding 0;

                > img {
                    max-height: 40px;
                }
            }

            .logo-mini > img {
                width: 50px;
                margin: 15px 0;
            }
        }

        li.user-header {
            background-color: $light-blue;
        }
    }

    .main-footer {
        border-top-color: $gray-lte;
    }

    .sidebar {

        .nav-sidebar {

            .divider {
                height: 1px;
                background: rgb(120 130 140 / 13%);
                display: block;
                margin: 20px 0;
            }

            .nav-header {
                text-transform: uppercase;

                &:not( :first-of-type ) {
                    padding: 0;
                }
            }

            > .nav-item > .nav-link.active {
                background-color: rgb(255 255 255 / 90%);
                color: #343A40;
            }
        }
    }

    .box.box-primary {
        border-top-color: $light-blue;
    }

    .bg-green,
    .callout.callout-success,
    .alert-success,
    .label-success,
    .modal-success .modal-body {
        background-color: #00875A !important;
    }

    #top-menu-create-button > .btn {
        margin-top: 20px;
    }
}
