{#
 #
 # This file is part of the CSBillCoreBundle package.
 #
 # (c) Pierre du Plessis <info@customscripts.co.za>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
#}

{% extends "CSBillCoreBundle:Layout:default.html.twig" %}

{% block body %}
	<div class="row">
		<aside class="col-lg-2 col-md-2">
			{{ block('sidebar_left') }}
		</aside>

		<section class="col-lg-10 col-md-10 content">
			{{ block('heading') }}

            <div class="row">
                <div class="col-lg-9 col-md-9">
                    {{ block('content') }}
                </div>
                <aside class="col-lg-3 col-md-3">
                    {{ block('sidebar_right') }}
                </aside>
            </div>
		</section>
	</div>
{% endblock body %}
