@import (reference) "~bootstrap/less/mixins";
@import (reference) "~bootstrap/less/variables";
@import (reference) "colors";

@import (reference) "~admin-lte/build/less/variables";
@import (reference) "~admin-lte/build/less/mixins";

// MISC
//--------------------------------------------------------
@import "~admin-lte/build/less/core";
@import (reference) "~admin-lte/build/less/variables";
@import (reference) "~admin-lte/build/less/mixins";


// Overrides
//--------------------------------------------------------


// Primary
@light-blue: #1E88E7;
// Danger
@red: #BF2600;
// Success
@green: #00875A;
// Info
@aqua: #00c0ef;
// Warning
@yellow: #f39c12;
@blue: #0073b7;
@navy: #001F3F;
@teal: #39CCCC;
@olive: #3D9970;
@lime: #01FF70;
@orange: #FF991F;
@fuchsia: #F012BE;
@purple: #5243AA;
@maroon: #D81B60;
@black: #111;
@gray-lte: #d2d6de;

@warning: @deep-orange;
@primary: @light-blue;
@danger: @red;
@success: @green;
@info: @light-blue;

@btn-warning: @warning;
@btn-primary: @primary;
@btn-danger: @danger;
@btn-success: @success;
@btn-info: @info;

@theme-header-height: 70px;
@theme-header-padding: 15px;

// COMPONENTS
//--------------------------------------------------------
@import "~admin-lte/build/less/header";
@import "~admin-lte/build/less/sidebar";
@import "~admin-lte/build/less/sidebar-mini";
@import "~admin-lte/build/less/control-sidebar";
@import "~admin-lte/build/less/dropdown";
@import "~admin-lte/build/less/forms";
@import "~admin-lte/build/less/progress-bars";
@import "~admin-lte/build/less/small-box";
@import "~admin-lte/build/less/boxes";
@import "~admin-lte/build/less/info-box";
@import "~admin-lte/build/less/timeline";
@import "~admin-lte/build/less/buttons";
@import "~admin-lte/build/less/callout";
@import "~admin-lte/build/less/alerts";
@import "~admin-lte/build/less/navs";
@import "~admin-lte/build/less/products";
@import "~admin-lte/build/less/table";
@import "~admin-lte/build/less/labels";
@import "~admin-lte/build/less/direct-chat";
@import "~admin-lte/build/less/users-list";
@import "~admin-lte/build/less/carousel";
@import "~admin-lte/build/less/modal";
@import "~admin-lte/build/less/social-widgets";
@import "~admin-lte/build/less/treeview";

// PAGES
//--------------------------------------------------------
//@import "mailbox";
//@import "lockscreen";
//@import "login_and_register";
//@import "404_500_errors";
@import "~admin-lte/build/less/invoice";
@import "~admin-lte/build/less/profile";

// Plugins
//--------------------------------------------------------
//@import "~admin-lte/build/less/plugins";
@import (inline, css) "~admin-lte/dist/css/alt/AdminLTE-select2.css";
@import "~admin-lte/build/less/datepicker";

// Miscellaneous
//--------------------------------------------------------
@import "~admin-lte/build/less/miscellaneous";
@import "~admin-lte/build/less/print";

.loading-spinner {
  width: 200px;
  margin-left: -100px !important;
}

.clear {
  clear: both;
}

.left-sidebar {
  .divider {
    background-color: @grey-200;
    height: 1px;
  }
}

.dashboard-widget {
  .list-group-item {
    .badge {
      float: none;
    }
  }
}


/*
 * Skin: Material
 * ----------
 */

.skin-material {

  //Navbar
  .main-header {

    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);

    .navbar {
      min-height: @theme-header-height;
      padding: 0 15px 0 0;

      .navbar-variant(@light-blue; #fff);
      .sidebar-toggle {
        color: #fff;
        &:hover {
          background-color: darken(@light-blue, 5%);
        }
      }

      a {
        line-height: 40px;
        font-size: 1.1em;
      }

      @media (max-width: @screen-header-collapse) {
        .dropdown-menu {
          li {
            &.divider {
              background-color: rgba(255, 255, 255, 0.1);
            }
            a {
              color: #fff;
              &:hover {
                background: darken(@light-blue, 5%);
              }
            }
          }
        }
      }
    }

    //Logo
    .logo {
      .logo-variant(@light-blue);
      height: @theme-header-height;

      .logo-lg {
        height: 40px;
        margin: @theme-header-padding 0;

        > img {
          max-height: 40px;
        }
      }

      .logo-mini > img {
        width: 50px;
        margin: 15px 0;
      }
    }

    li.user-header {
      background-color: @light-blue;
    }
  }

  //Content Header
  .content-header {
    background: transparent;
  }

  //Create the sidebar skin
  .skin-light-sidebar(@light-blue);
  .main-footer {
    border-top-color: @gray-lte;
  }

  .main-sidebar {
    padding-top: @theme-header-height;
  }

  // Sidebar
  .sidebar {
    padding: 10px 0;

    .sidebar-menu {

      a {
        color: #607d8b;
      }

      .divider {
        height: 1px;
        background: rgba(120, 130, 140, 0.13);
        display: block;
        margin: 20px 0;
      }
      .header {
        color: #99abb4;
        font-size: 12px;
        margin-bottom: 0;
        padding: 14px 14px 14px 20px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }

  .box.box-primary {
    border-top-color: @light-blue;
  }

  .nav > li > a {
    padding: 12px 20px;
    font-size: 1.1em;
  }

  .bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #00875A !important;
  }

  .content-header {
    padding: 40px 15px 0 15px !important;
  }
}

