{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<div class="card no-border">
    <div class="card-header">
        <h3 class="card-title">
            {{ icon('file', ['text', 'o']) }} {{ "invoices"|trans }}
        </h3>
    </div>
    <div class="card-body">
        {#{{ render_multiple_grid(['active_invoice_grid', 'recurring_invoice_grid'], {'client' : client.id}) }}#}
        <twig:DataGrid name="invoice_grid" />
    </div>
</div>

