{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "CSBillCoreBundle:Layout:default.html.twig" %}

{% block body %}
	<div class="row">
		<aside class="col-lg-2 col-md-2 left-sidebar">
			{{ block('sidebar') is defined ? block('sidebar') }}
		</aside>

		<section class="col-lg-10 col-md-10 col-md-offset-2 col-lg-offset-2 content">
			{{ block('heading') is defined ? block('heading') }}

            {% include "CSBillCoreBundle::flash.html.twig" %}

			{{ block('content') is defined ? block('content') }}
		</section>
	</div>
{% endblock body %}
