{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "SolidInvoiceCoreBundle:Layout:default.html.twig" %}

{% block body %}
	<div class="row">
		<aside class="col-lg-2 col-md-2 left-sidebar">
			{{ block('sidebar_left') is defined ? block('sidebar_left') }}
		</aside>

		<section class="col-lg-10 col-md-10 col-md-offset-2 col-lg-offset-2 content">
			{{ block('heading') is defined ? block('heading') }}

            <div class="row">
                <div class="col-lg-9 col-md-9">
                    {% include "SolidInvoiceCoreBundle::flash.html.twig" %}
                    {{ block('content') is defined ? block('content') }}
                </div>
                <aside class="col-lg-3 col-md-3 right-sidebar">
                    {{ block('sidebar_right') is defined ? block('sidebar_right') }}
                </aside>
            </div>
		</section>
	</div>
{% endblock body %}
