{
  "presets": ["@babel/env"],
  "ignore": [
    "csbillcore/js/lib/**/*.js",
    "csbillcore/js/app.js",
    "**/router.js"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ]
}
