{
  "presets": [
      [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3.28"
      }
    ]
  ],
  "ignore": [
    "csbillcore/js/lib/**/*.js",
    "csbillcore/js/app.js",
    "**/router.js"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ]
}
