{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "parser": "babel-eslint",
        "sourceType": "module"
    },
    "root": true,
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "jest": true,
        "jasmine": true
    },
    "plugins": [
        "backbone",
        "no-jquery",
        "lodash",
        "jest",
        "jasmine"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:lodash/recommended",
        "plugin:backbone/recommended",
        "plugin:no-jquery/deprecated-3.5"
    ],
    "rules": {
        "lodash/prefer-lodash-method": "off",
        "no-else-return": "error",
        "no-extra-bind": "error",
        "no-lone-blocks": "error",
        "no-loop-func": "error",
        "no-useless-call": "error",
        "no-useless-concat": "error",
        "no-useless-return": "error",
        "radix": "error",
        "yoda": ["error", "always"],
        "no-shadow": "error",
        "no-use-before-define": "error",
        "quotes": ["error", "single"],
        "lodash/import-scope": [2, "member"],
        "backbone/no-collection-models": "off",
        "no-jquery/variable-pattern": "error"
    }
}
