web/bundles/*
web/css/*
web/js/*
web/fonts/*
web/img/*
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor
bin
composer.phar
web/uploads/*
!web/uploads/.gitkeep
!web/js/.gitkeep
!web/css/.gitkeep
!web/fonts/.gitkeep
!web/img/.gitkeep
app/config/parameters.yml
/.idea
node_modules
