web/static
web/bundles
web/css/*
web/js/*
web/fonts/*
web/img/*
web/manifest.json
assets/js/translations
assets/js/js_routes.json
var/
build/
vendor
bin/*
!bin/console
composer.phar
!web/js/.gitkeep
!web/css/.gitkeep
!web/fonts/.gitkeep
!web/img/.gitkeep
app/config/parameters.yml
.idea
node_modules
.rules
.php_cs.cache
.phpunit.result.cache
.env
yarn-error.log
/vendor-bin/**/vendor
