web/assets/*
web/bundles/*
web/css/*
web/js/*
web/fonts/*
web/img/*
web/manifest.json
var/bootstrap.php.cache
var/cache/*
var/logs/*
build/
vendor
bin/*
!bin/console
composer.phar
web/uploads/*
!web/uploads/.gitkeep
!web/js/.gitkeep
!web/css/.gitkeep
!web/fonts/.gitkeep
!web/img/.gitkeep
app/config/parameters.yml
.idea
node_modules
.rules
.php_cs.cache
.env