default:
    formatters:
        pretty:
            verbose:  true
            paths:    false
            snippets: false

    suites:
        installation:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - CSBill\InstallBundle\Behat\InstallContext
            filters:
                tags: "@installation"

    extensions:
        Behat\MinkExtension:
            base_url: https://localhost
            default_session: saucelabs
            javascript_session: saucelabs
            sessions:
                symfony2:
                    symfony2: ~
                saucelabs:
                    sauce_labs:
                        connect: true
                        capabilities:
                            custom-data: {travis: true}
            #browser_name: firefox
            #show_auto:    false
        Behat\Symfony2Extension: ~
