default:
    formatters:
        pretty:
            verbose:  true
            paths:    false
            snippets: false

    suites:
        installation:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - CSBill\InstallBundle\Behat\InstallContext
            filters:
                tags: "@installation"

    extensions:
        Behat\MinkExtension:
            sessions:
                default:
                    symfony2: ~
            browser_name: firefox
            show_auto:    false
        Behat\Symfony2Extension: ~
    context:
        parameters:
            javascript_session: selenium
            base_url: http://localhost
            browser: firefox
            show_cmd: open %s
