parameters:
    level: 1
    paths:
        - src
    bootstrapFiles:
        - vendor/autoload.php
        - vendor/bin/.phpunit/phpunit-8.3-0/vendor/autoload.php
        - vendor/doctrine/dbal/lib/Doctrine/DBAL/Types/ConversionException.php
    excludes_analyse:
        - src/CoreBundle/Tests/Fixtures/file.php
    symfony:
        container_xml_path: var/cache/test/srcSolidInvoice_KernelTestDebugContainer.xml
