includes:
    - phpstan.neon

parameters:
    scanFiles:
        - vendor/symfony/dependency-injection/Loader/Configurator/ContainerConfigurator.php
    scanDirectories:
        - var/cache/test/Symfony/Config
    symfony:
        container_xml_path: var/cache/test/SolidInvoice_KernelTestDebugContainer.xml
