includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src
    bootstrapFiles:
        - vendor/autoload.php
        - vendor/bin/.phpunit/phpunit-8.5-0/vendor/autoload.php
        - vendor/doctrine/dbal/lib/Doctrine/DBAL/Types/ConversionException.php
    excludePaths:
        - src/CoreBundle/Tests/Fixtures/file.php
    symfony:
        container_xml_path: var/cache/dev/srcSolidInvoice_KernelDevDebugContainer.xml

    stubFiles:
        - tests/stub.php
