.body-bg {
  .wrapper {
    background: transparent url(../img/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .content-wrapper {
    background-color: transparent;
  }
}