{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<div class="row-fluid" id="client-contact">
    <div class="prototype-widget">
	{{ form(form) }}
    </div>
</div>

<script>
    require(['client/contacts_collection'], function (FormCollection) {
	new FormCollection({
	    'el' : '#client-contact'
	});
    });
</script>
