{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "@SolidInvoiceCore/Layout/single_column.html.twig" %}

{% block content %}
    <div class="widget" align="center">
        <h1>
            {{ icon('ban') }} {{ status_code }} {{ status_text }}
        </h1>
        <p>{{ 'exception.not_found.text'|trans }}</p>
    </div>
{% endblock content %}
