{% for type, flashMessage in app.session.flashbag.all() %}
    {% if type == 'error' %}
        {% set type = 'danger' %}
    {% endif %}

    {% for message in flashMessage %}
        <div class="alert alert-{{ type }} fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }} <br />
        </div>
    {% endfor %}
{% endfor %}
