{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "CSBillInvoiceBundle:Default:create.html.twig" %}

{% block title %}{{ "Edit Invoice"|trans }}{% endblock %}

{% block sidebar %}
    {{ menu('invoices_edit') }}
{% endblock sidebar %}

{% block form_buttons %}
    <div class="col-lg-2 col-md-2">
        <button type="submit" class="btn btn-success" name="save" value="send">{{ "Save and Send"|trans }}</button>
    </div>
    <div class="col-lg-2 col-md-2">
        <button type="submit" class="btn btn-primary" name="save" value="draft">{{ "Save"|trans }}</button>
    </div>
{% endblock form_buttons %}
