{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% spaceless %}<div style="width: 900px">
    <div style="text-align:center" align="center">
        <p>
            <div style="font-size: 80%; color: #999999">
                {% set invoicePath = url("_view_invoice_external", {"uuid" : invoice.uuid}) %}
                {{ "invoice.view.online"|trans|replace({"%url%" : '<a href="' ~ invoicePath ~ '">' ~ invoicePath ~ '</a>'})|raw }}
            </div>
        </p>
    </div>

    {% include "CSBillInvoiceBundle:Email:invoice_template.html.twig" %}

</div>{% endspaceless %}
