{% spaceless %}<div style="width: 900px">
    <div style="text-align:center" align="center">
        <p>
            <div style="font-size: 80%; color: #999999">
                {% set invoicePath = url("_view_invoice_external", {"type" : "invoice", "uuid" : invoice.uuid}) %}
                {{ "View this invoice online at: %url%"|trans|replace({"%url%" : '<a href="' ~ invoicePath ~ '">' ~ invoicePath ~ '</a>'})|raw }}
            </div>
        </p>
    </div>

    {% include "CSBillInvoiceBundle::invoice_template.html.twig" %}

</div>{% endspaceless %}
