{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<br />
<a class="btn btn-primary" href="{{ url('_payments_create', {'uuid' : invoice.uuid}) }}">{{ 'invoice.pay_now'|trans([], 'email') }}</a>
