{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "@SolidInvoiceCore/Layout/default.html.twig" %}

{% block title %}{{ 'payment.methods.title'|trans }}{% endblock title %}

{% set module = "payments-settings" %}

{% block sidebar %}
    <ul class="sidebar-menu tree" data-widget="tree" role="tablist" id="payment-method-tabs">
    </ul>
{% endblock sidebar %}

{% block content %}
    <div id="payment-method-settings">
    </div>
{% endblock %}
