{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "@SolidInvoiceCore/Layout/default.html.twig" %}

{% block title %}{{ 'payment.methods.title'|trans }}{% endblock title %}

{% set module = "payments-settings" %}

{% block content %}
    <section class="row">
        <aside class="col-3">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-pills nav-sidebar flex-column sidebar-menu" role="tablist" id="payment-method-tabs">
                    </ul>
                </div>
            </div>
        </aside>
        <section class="col-9">
            <div id="payment-method-settings">
            </div>
        </section>
    </section>
{% endblock %}
