imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: default_settings.yml }
    - { resource: payments.yml }
    - { resource: @CSBillInvoiceBundle/Resources/config/finite.yml }
    - { resource: @CSBillQuoteBundle/Resources/config/finite.yml }

framework:
    esi:             ~
    translator:      { fallback: en }
    secret:          %secret%
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  %locale%
    trusted_proxies: ~
    session:
        name: CSBILL_APP
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%
    form:
        resources:
            - 'CSBillCoreBundle:Form:fields.html.twig'

# Assetic Configuration
assetic:
    debug:          %kernel.debug%
    use_controller: false
    bundles:        [CSBillInstallBundle, CSBillCoreBundle, CSBillClientBundle, CSBillDataGridBundle, CSBillQuoteBundle, CSBillInvoiceBundle]
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        lessphp:
            apply_to: "\.less$"
        yui_css:
            jar: %kernel.root_dir%/Resources/Java/yuicompressor-2.4.7.jar
        yui_js:
            jar: %kernel.root_dir%/Resources/Java/yuicompressor-2.4.7.jar
        #closure:
        #    jar: %kernel.root_dir%/Resources/java/compiler.jar

# Doctrine Configuration
doctrine:
    dbal:
        driver:   %database_driver%
        host:     %database_host%
        port:     %database_port%
        dbname:   %database_name%
        user:     %database_user%
        password: %database_password%
        charset:  UTF8
        types:
            uuid: Rhumsaa\Uuid\Doctrine\UuidType
        # if using pdo_sqlite as your database driver, add the path in parameters.yml
        # e.g. database_path: %kernel.root_dir%/data/data.db3
        # path:     %database_path%

    orm:
        auto_generate_proxy_classes: %kernel.debug%
        entity_managers:
            default:
                filters:
                    softdeleteable:
                        class: Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter
                        enabled: true
                    archivable:
                        class: CSBill\CoreBundle\Doctrine\Filter\ArchivableFilter
                        enabled: true
                auto_mapping: true
                mappings:
                    gedmo_translatable:
                        type: annotation
                        prefix: Gedmo\Translatable\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Translatable/Entity"
                        alias: GedmoTranslatable # this one is optional and will default to the name set for the mapping
                        is_bundle: false
                    gedmo_translator:
                        type: annotation
                        prefix: Gedmo\Translator\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Translator/Entity"
                        alias: GedmoTranslator # this one is optional and will default to the name set for the mapping
                        is_bundle: false
                    gedmo_loggable:
                        type: annotation
                        prefix: Gedmo\Loggable\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Loggable/Entity"
                        alias: GedmoLoggable # this one is optional and will default to the name set for the mapping
                        is_bundle: false
                    gedmo_tree:
                        type: annotation
                        prefix: Gedmo\Tree\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Tree/Entity"
                        alias: GedmoTree # this one is optional and will default to the name set for the mapping
                        is_bundle: false
                    payum:
                        is_bundle: false
                        type: xml
                        #dir: %kernel.root_dir%/../vendor/payum/core/Bridge/Doctrine/Resources/mapping
                        # set this dir instead if you use `payum/payum` library
                        dir: %kernel.root_dir%/../vendor/payum/core/Payum/Core/Bridge/Doctrine/Resources/mapping
                        prefix: Payum\Core\Model

# Swiftmailer Configuration
swiftmailer:
    transport: %mailer_transport%
    host:      %mailer_host%
    username:  %mailer_user%
    password:  %mailer_password%
    spool:     { type: memory }

apy_data_grid:
    limits: [10, 15, 20, 25, 50]
    pagerfanta:
        enable: true    #default false
        view_class: Pagerfanta\View\TwitterBootstrapView
        options:            #all options of pager fanta view constructor
           prev_message : « Prev
           next_message : Next »

stof_doctrine_extensions:
    default_locale: %locale%
    orm: ~

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: CSBill\UserBundle\Entity\User
    profile:
        form:
            type: profile_form
    service:
        email_canonicalizer:    csbill.user.canonicalizer
        username_canonicalizer: csbill.user.canonicalizer