parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: 3306
    database_name: csbill
    database_user: root
    database_password: ~

    env(mailer_transport): smtp
    env(mailer_host): 127.0.0.1
    env(mailer_user): null
    env(mailer_password): null
    env(mailer_port): null
    env(mailer_encryption): null

    locale: en_US
    currency: USD
    secret: SecretToken
    base_url: ~

    installed: ~
