parameters:
    env(database_driver): pdo_mysql
    env(database_host): localhost
    env(database_port): 3306
    env(database_name): solidinvoice
    env(database_user): root
    env(database_password): ~

    env(mailer_transport): smtp
    env(mailer_host): 127.0.0.1
    env(mailer_user): null
    env(mailer_password): null
    env(mailer_port): null
    env(mailer_encryption): null

    locale: en_US
    currency: USD
    secret: SecretToken

    installed: ~
