{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends "CSBillCoreBundle:Layout/Email:base.html.twig" %}

{% set quotePath = url("_view_quote_external", {"uuid" : quote.uuid}) %}

{% block title %}
    {{ "quote.title"|trans({"%id%" : quote.id}) }}
{% endblock %}

{% block header %}
    <div style="text-align:center" align="center">
        <p>
            <div style="font-size: 80%; color: #999999">
                {{ "quote.view.online"|trans|replace({"%url%" : '<a href="' ~ quotePath ~ '">' ~ quotePath ~ '</a>'})|raw }}
            </div>
        </p>
    </div>
{% endblock %}

{% block content %}
    {% set containerClass = '' %}
    {% embed "CSBillQuoteBundle::quote_template.html.twig" %}
        {% block title %}{% endblock %}
        {% block content %}
            {{ parent() }}
            <div class="clear"></div>
        {% endblock %}
    {% endembed %}

    <div itemscope itemtype="http://schema.org/EmailMessage">
        <div itemprop="action" itemscope itemtype="http://schema.org/ViewAction">
            <link itemprop="url" href="{{ quotePath }}">
            <meta itemprop="name" content="View quote">
        </div>
        <meta itemprop="description" content="View quote">
    </div>
{% endblock %}
