{{#if disabled}}
    <li class="nav-header nav-item first">
        <span> <p>Enabled Methods</p></span>
    </li>

    {{#each enabled}}
        {{> menu_item enabled=true method=this}}
    {{/each}}
{{/if}}


{{#if disabled}}
    <li class="nav-header nav-item first">
        <span> <p>Disabled Methods</p></span>
    </li>

    {{#each disabled}}
        {{> menu_item enabled=false method=this}}
    {{/each}}
{{/if}}
