{{#each enabled}}
    {{> menu_item enabled=true method=this}}
{{/each}}

{{#if disabled}}
    <li class="divider"></li>

    {{#each disabled}}
        {{> menu_item enabled=false method=this}}
    {{/each}}
{{/if}}
