{{#each enabled}}
    {{> menuItem enabled=true method=this}}
{{/each}}

{{#if disabled}}
    <li class="divider"></li>

    {{#each disabled}}
        {{> menuItem enabled=false method=this}}
    {{/each}}
{{/if}}