<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>{{trans 'quote.summary' }}</strong></h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Qty
                                </th>
                                <th class="text-right">{{trans 'quote.total' }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="quote-rows">
                        </tbody>
                        <tfoot id="quote-footer">
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#" class="add-item col-lg-2">
    <i class="fa fa-plus-circle"></i> {{trans "quote.item.add" }}
</a>