$enable-deprecation-messages: false;

@import '~SolidInvoiceCore/scss/styles';
@import '~SolidInvoiceCore/scss/theme';

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}