//@use 'sass:map';

/*$light-blue: #1E88E7; !* Primary *!
$red: #BF2600; !* Danger *!
$green: #00875A; !* Success *!
$aqua: #00C0EF; !* Info *!
$yellow: #F39C12; !* Warning *!
$blue: #0073B7;
$navy: #001F3F;
$teal: #39CCCC;
$olive: #3D9970;
$lime: #01FF70;
$orange: #FF991F;
$fuchsia: #F012BE;
$purple: #5243AA;
$maroon: #D81B60;
$black: #111111;
$gray-lte: #D2D6DE;
//$warning: $deep-orange;
$primary: $light-blue;
$danger: $red;
$success: $green;
$info: $light-blue;
//$btn-warning: $warning;
$btn-primary: $primary;
$btn-danger: $danger;
$btn-success: $success;
$btn-info: $info;
$theme-header-height: 70px;
$theme-header-padding: 15px;*/
//$screen-header-collapse: map.get($grid-breakpoints, md) !default;

@import '~@tabler/core/scss/tabler';
//@import '~@tabler/core/src/scss/tabler-vendors';

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/shims';

/*@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';*/


//$enable-deprecation-messages: false;

//@import './styles';
//@import './theme';
