{{#each fields}}
    <td class="column-{{@key}}">
        {{{replace this '__name__' ../id}}}
    </td>
{{/each}}
<td class="column-total text-right">
    {{currency 0}}
</td>
<td class="column-trash text-center">
    <a href="#" class="remove-item bg-danger" rel="tooltip" title="{{trans "quote.item.remove" }}">
        <i class="fa fa-times-circle"></i>
    </a>
</td>