{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<div class="child row">
    <div class="col-lg-6 col-md-6">
        {{ form_widget(form.type) }}
        {{ form_row(form.value) }}
        {{ form_errors(form) }}
    </div>
</div>
