{##
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "@SolidInvoiceCore/Layout/default.html.twig" %}

{% set module = 'profile-api' %}

{% block title %}{{ "profile.api.title"|trans }}{% endblock title %}

{% block heading %}
    <div class="float-right header-button">
        <a href="{{ path('_xhr_api_keys_create') }}" class="btn btn-info" id="create-api-token">
            {{ icon('plus') }} {{ 'profile.api.create'|trans }}
        </a>
    </div>
    <br class="clear" />
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <ul class="list-group" id="token-list"></ul>
        </div>
    </div>
{% endblock content %}
