<div class="row-fluid">
    <div class="form-group">
        <div id="credit">
            <div class="form-group">
                <label class="control-label required control-label required" for="credit_amount">Amount</label>
                <div class="input-group">
                    <span class="input-group-addon">{{currency}}</span>
                    <input type="text" id="credit_amount" name="credit[amount]" data-required="required" class="form-control" value="0.00">
                </div>
            </div>
        </div>
    </div>
</div>