<div class="widget well well-sm">
    <div class="" style="position: absolute;">
        <i class="fa fa-map-marker"></i>
    </div>
    <div style="position: relative; left: 20px;">
        {{{ full }}}
    </div>
    <div class="pull-right">
        <i class="fa fa-map-marker"></i>
        <a href="http://maps.google.com/?q={{ compact }}" target="_blank">
            {{trans 'client.address.view_map' }}
        </a>
    </div>
    <br class="clear" />
</div>