<div class="text-center text-info">
    <h3 id="client-credit-value">
        {{ credit }}
    </h3>
    <a href="/app_dev.php/clients/ajax/info/2" rel="tooltip" title="HELLO" id="add-credit-button">
        <i class="fa fa-plus-circle"></i> Add Credit
    </a>
</div>