{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "CSBillCoreBundle:Layout/Email:base.html.twig" %}

{% block logo %}
    <img src="{{ asset('img/logo.png', null, true) }}" class="logo" />
{% endblock %}

{% block footer %}
    You can update your notification settings
    <a href="{{ url('_settings') }}">here</a>
{% endblock %}
