{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "@SolidInvoiceCore/Layout/single_column.html.twig" %}

{% block title %}{{ "Update Password" }}{% endblock title %}

{% block content %}
    <div class="widget">
        <form action="{{ path('_user_password_reset', {'token': token}) }}" method="POST" class="fos_user_resetting_reset">
            {{ form_widget(form) }}
            <div>
                <input type="submit" class="btn btn-primary" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </form>
    </div>

{% endblock content %}
