{##
 # This file is part of CSBill package.
 #
 # (c) 2013-2014 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% spaceless %}<div style="width: 900px">
    <div style="text-align:center" align="center">
        <p>
            <div style="font-size: 80%; color: #999999">
                {% set quotePath = url("_view_quote_external", {"uuid" : quote.uuid}) %}
                {{ "View this quote online at: %url%"|trans|replace({"%url%" : '<a href="' ~ quotePath ~ '">' ~ quotePath ~ '</a>'})|raw }}
            </div>
        </p>
    </div>

    {% include "CSBillQuoteBundle:Email:quote_template.html.twig" %}

</div>{% endspaceless %}
