{% extends "CSBillCoreBundle:Layout:single_column.html.twig" %}

{% block title %}{{ "Reset Password" }}{% endblock title %}

{% block content %}
<div class="alert alert-info">
    {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
</div>

<a class="btn btn-primary" href="{{ path('fos_user_security_login') }}">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</a>
{% endblock content %}
