<div>
    <div class="panel panel-default filterable">
	<div class="panel-heading">
	    <h3 class="panel-title">
		<span class="actions"></span>
	    </h3>
	</div>
	<div class="panel-body">
	    <div class="search"></div>
	</div>
	<div class="grid">
	</div>
    </div>
</div>