<div>
    <div class="card filterable">
	<div class="card-header">
	    <h3 class="card-title">
		<span class="actions"></span>
	    </h3>
	</div>
	<div class="card-body">
	    <div class="search"></div>
	</div>
	<div class="grid">
	</div>
    </div>
</div>