<div class="row">
    <div class="col-lg-6">
        <span class="search">&nbsp;</span>
        <input type="search" class="form-control" placeholder="{{trans "Search for..."}}">
        <a class="clear" data-backgrid-action="clear" href="#">&times;</a>
    </div>
</div>