{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<h3 class="page-header">
    {{ icon('credit-card') }} {{ "Payments"|trans }}
</h3>

{% if data is not defined %}
    {% set data = {} %}
{% endif %}

<div class="widget">
    {#{{ render_grid(grid, data) }}#}
</div>
