{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends parent is defined ? parent : 'CSBillCoreBundle:Layout:single_column.html.twig' %}

{% block content %}
    <div class="widget">
        {{ grid(grid, 'CSBillDataGridBundle::grid.html.twig') }}
    </div>
{% endblock content %}
