{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}
{% set id = 'grid-' ~ gridName ~ '-' ~ random() %}

<div id="{{ id }}"></div>

<script src="{{ asset('assets/js/grid.js') }}"></script>
<script>
    /*require(['grid/grid'{% if requiresStatus %}, 'grid/cell/statuscell'{% endif %}], function (Grid) {
	    new Grid({{ gridOptions|raw }}, '#{{ id }}');
    });*/
</script>
