{#
 # This file is part of SolidInvoice package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% set id = 'multiple-grid-' ~ random() %}

<div class="grid" id="{{ id }}"></div>

<script type="application/json" data-type="multiple_grid" data-target="#{{ id }}">
    {{ grids|json_encode|raw }}
</script>
