{% extends '@SolidInvoiceCore/Layout/Email/base.html.twig' %}

{%- block title -%}
    {{ 'reset_password.subject'|trans({'%username%': user.username}, 'email') }}
{%- endblock -%}

{%- block content -%}
    {% filter nl2br %}
        {% autoescape false %}
            {{ 'reset_password.message_html'|trans({'%username%': user.username}, 'email') }}
        {% endautoescape %}
    {% endfilter %}
    <table class="button expand large float-center">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <a href="{{ url('_user_password_reset', {'token': user.confirmationToken}) }}" rel="external" target="_blank">{{ 'reset_password.button_text'|trans([], 'email') }}</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{%- endblock -%}
