/**
 * Client View
 */

.client-actions {

    .btn {
        width: 100%;
        margin: 3px;
    }
}

#client-view {

    dt {
        width: 70px;
    }

    dd {
        margin-left: 90px;
    }
}
