/* Invoice Styles
 ***************/

.income-block {
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}

.outstanding-block {
  color: #b94a48;
  background-color: pink;
  border: #b94a48;
}