// Include Bootstrap
@import "bootstrap/bootstrap.less";
@import "font-awesome/font-awesome.less";
//@import "core.less";
@import "tabs.less";
@import "grid.less";
@import "form.less";
@import "invoice.less";
@import "theme.less";

.clear {
    clear: both;
}

.container {
    width: 100%;
}

div.pagination > ul {
    .pagination;
}

ul.unstyled {
    li {
        list-style: none;
    }
}

/* QUOTE / INVOICE
*******************/

#quote-rows, #invoice-rows {
    .column-price {
        width: 20%;
    }

    .column-total {
        width: 10%;
    }

    .column-qty {
        width: 8%;
    }
}

#quote-create, #invoice-create {
  .title h2, .title h3 {
    display: inline-block;
  }

  .table > tbody > tr > .no-line {
    border-top: none;
  }

  .table > thead > tr > .no-line {
    border-bottom: none;
  }

  .table > tbody > tr > .thick-line {
    border-top: 2px solid;
  }

  .column-total {
    text-align: right;
  }
}

.right-nav {
  .action-button {
    width: 100%;
  }
}

.modal .loading-mask {
  z-index: 10;
}

.widget {
  background: #FFFFFF;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px
}