/**
 *   Grid Search
 */
.grid-search .control-group {
    label {
      width: 120px;
    }
    
    .controls {
      padding: 5px 0;
    }
    
    span {
      padding: 0 4px;
    }
}

/**
 * Sorting
 */

.sort_down, .sort_up {
  float: right;
}

.sort_down:after {
  content: "↓";
}

.sort_up:after {
  content: "↑";
}