.backgrid {

    th,
    td {
        word-wrap: break-word;
        white-space: normal;
        overflow: visible;
    }

    tr.redirectable {

        td:not( .action-cell, .select-row-cell ) {
            cursor: pointer;
        }
    }
}
