{#
 # This file is part of CSBill package.
 #
 # (c) 2013-2015 Pierre du Plessis <info@customscripts.co.za>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<legend>
    <h3>
        {{ icon('credit-card') }} {{ "Payments"|trans }}
    </h3>
</legend>

{% if data is not defined %}
    {% set data = {} %}
{% endif %}

<div class="widget">
    {{ render_grid(grid, data) }}
</div>
