<div class="text-center text-info">
    <h3 id="client-credit-value">
        {{currency credit }}
    </h3>
    <a href="#" rel="tooltip" title="{{trans 'client.view.actions.add_credit'}}" id="add-credit-button">
        <i class="fas fa-plus-circle"></i> {{trans 'client.stats.credit'}}
    </a>
</div>