{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends '@SolidInvoiceCore/Layout/default_no_nav.html.twig' %}

{% block heading %}
    {% set title = block('title') is defined ? block('title') %}

    {% if title is not empty %}
        <h1>{{ block('title') }}</h1>
        <hr />
    {% endif %}
{% endblock %}

{% block title %}
    {{ "installation.title"|trans({"%app_name%" : constant('SolidInvoice\\CoreBundle\\SolidInvoiceCoreBundle::APP_NAME')}) }}
{% endblock title %}

{% block body %}
    <section class="content-header">
        {{ block('heading') is defined ? block('heading') }}

        {% include "@SolidInvoiceCore/flash.html.twig" %}
    </section>

    <section class="content mx-3">
        {{ block('content') is defined ? block('content') }}
    </section>
{% endblock body %}
