{% extends "CSBillCoreBundle:View:template.html.twig" %}

{% block heading %}
    <fieldset class="page-heading">
        <legend>
            <div class="pull-right header-button">
                <a href="{{ path('_payments_create', {'uuid' : invoice.uuid}) }}" class="btn btn-primary">
                    {{ icon('credit-card') }} {{ "invoice.action.pay_now"|trans }}
                </a>
            </div>
            <h3>{{ block('title') }}</h3>
        </legend>
    </fieldset>
{% endblock %}
