name: Automatic Releases

on:
  milestone:
    types:
      - closed

jobs:
  release:
    name: "GIT tag, release & create merge-up PR"
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@128a63446a954579617e875aaab7d2978154e969
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            archive.ubuntu.com:80
            auth.docker.io:443
            github.com:443
            objects.githubusercontent.com:443
            packagist.org:443
            ppa.launchpadcontent.net:443
            production.cloudflare.docker.com:443
            registry-1.docker.io:443
            registry.yarnpkg.com:443
            security.ubuntu.com:80
            uploads.github.com:443

      - name: Checkout
        uses: "actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f"

      - name: Setup PHP
        uses: shivammathur/setup-php@d30ad8b1843ace22e6698ab99bbafaa747b6bd0d
        with:
          php-version: 8.1
          extensions: intl, gd, opcache, mysql, pdo_mysql, soap, zip, :xdebug
          coverage: none

      - uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c
        with:
          node-version: 14

      - name: Set up QEMU
        uses: docker/setup-qemu-action@e81a89b1732b9c48d79cd809d8d81d79c4647a18

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@4b4e9c3e2d4531116a6f8ba8e71fc6e2cb6e6c8c

      - name: Install jq
        run: sudo apt-get install jq

      - name: Bump version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: "./scripts/bump_version.sh ${{ github.event.milestone.title }}"

      - name: Release
        uses: laminas/automatic-releases@1b61a5fcf90ba3223c85130b7bc2a7f95311e79c
        with:
          command-name: laminas:automatic-releases:release
        env:
          "GITHUB_TOKEN": ${{ secrets.GITHUB_TOKEN }}
          "SIGNING_SECRET_KEY": ${{ secrets.SIGNING_SECRET_KEY }}
          "GIT_AUTHOR_NAME": ${{ secrets.GIT_AUTHOR_NAME }}
          "GIT_AUTHOR_EMAIL": ${{ secrets.GIT_AUTHOR_EMAIL }}

      - name: Build Release Artifact
        run: "./scripts/build_dist.sh $(git rev-parse --abbrev-ref HEAD) ${{ github.event.milestone.title }}"

      - name: Upload Release Artifact
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844
        with:
          tag_name: ${{ github.event.milestone.title }}
          files: |
            build/dist/SolidInvoice-${{ github.event.milestone.title }}.zip
            build/dist/SolidInvoice-${{ github.event.milestone.title }}.tar.gz

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push standard docker image
        uses: docker/build-push-action@v4
        with:
          push: true
          context: ./
          file: ./docker/Dockerfile.build
          build-args: |
            SOLIDINVOICE_VERSION=${{ github.event.milestone.title }}
          tags: |
            solidinvoice/solidinvoice:latest
            solidinvoice/solidinvoice:${{ github.event.milestone.title }}

      - name: Build and push full docker image
        uses: docker/build-push-action@v4
        with:
          push: true
          context: ./
          file: ./docker/Dockerfile.full-build
          build-args: |
            SOLIDINVOICE_VERSION=${{ github.event.milestone.title }}
          tags: |
            solidinvoice/solidinvoice:${{ github.event.milestone.title }}-full

      - name: Create Merge-Up Pull Request
        uses: laminas/automatic-releases@1b61a5fcf90ba3223c85130b7bc2a7f95311e79c
        with:
          command-name: laminas:automatic-releases:create-merge-up-pull-request
        env:
          "GITHUB_TOKEN": ${{ secrets.ORGANIZATION_ADMIN_TOKEN }}
          "SIGNING_SECRET_KEY": ${{ secrets.SIGNING_SECRET_KEY }}
          "GIT_AUTHOR_NAME": ${{ secrets.GIT_AUTHOR_NAME }}
          "GIT_AUTHOR_EMAIL": ${{ secrets.GIT_AUTHOR_EMAIL }}

      - name: Create new milestones
        uses: laminas/automatic-releases@1b61a5fcf90ba3223c85130b7bc2a7f95311e79c
        with:
          command-name: laminas:automatic-releases:create-milestones
        env:
          "GITHUB_TOKEN": ${{ secrets.GITHUB_TOKEN }}
          "SIGNING_SECRET_KEY": ${{ secrets.SIGNING_SECRET_KEY }}
          "GIT_AUTHOR_NAME": ${{ secrets.GIT_AUTHOR_NAME }}
          "GIT_AUTHOR_EMAIL": ${{ secrets.GIT_AUTHOR_EMAIL }}

      - name: Bump version to next dev
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: "./scripts/bump_version_dev.sh"
