name: CS

on: [ pull_request ]

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  ecs:
    name: Coding Standards (PHP)

    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            objects.githubusercontent.com:443
            packagist.org:443
            54.185.253.63:443

      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633

      - name: Setup PHP
        uses: shivammathur/setup-php@8872c784b04a1420e81191df5d64fbd59d3d3033
        with:
          php-version: 8.1
          extensions: intl, gd, opcache, mysql, pdo_mysql

      - name: Get composer cache directory
        id: composercache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache dependencies
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
        with:
          path: ${{ steps.composercache.outputs.dir }}
          key: ${{ runner.os }}-php-74-composer-${{ hashFiles('composer.json composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-${{ matrix.php }}-composer-

      - name: Install dependencies
        run: composer install --ansi --no-interaction --no-progress --prefer-dist

      - name: Run EasyCodingStandard
        run: bin/ecs check

  composer-normalize:
    name: Composer Normalize

    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            objects.githubusercontent.com:443
            packagist.org:443
            raw.githubusercontent.com:443
            repo.packagist.org:443

      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633

      - name: Setup PHP
        uses: shivammathur/setup-php@8872c784b04a1420e81191df5d64fbd59d3d3033
        with:
          php-version: 8.1

      - name: Install dependencies
        run: composer install --no-scripts

      - name: Ensure lock file is up to date
        run: composer update --lock --no-scripts

      - name: Run composer normalize
        run: composer normalize --no-update-lock --diff --dry-run

  lint:
    permissions:
      contents: read  # for actions/checkout to fetch code
      statuses: write  # for github/super-linter/slim to mark status of each linter run
    name: Lint

    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            registry.yarnpkg.com:443
            pipelinesghubeus2.actions.githubusercontent.com:443
            54.185.253.63:443

      - name: Checkout Code
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633
        with:
          fetch-depth: 0

      - uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c
        with:
          node-version-file: .nvmrc

      - run: yarn install

      - name: Super-Linter
        uses: github/super-linter/slim@45fc0d88288beee4701c62761281edfee85655d7
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: 2.1.x
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CSS_FILE_NAME: .stylelintrc.json
          VALIDATE_YAML: true
          VALIDATE_JSON: true
          VALIDATE_XML: true
          VALIDATE_MD: true
          VALIDATE_GITLEAKS: true
          VALIDATE_BASH: true
          VALIDATE_PHP_BUILTIN: true
          LINTER_RULES_PATH: .
          VALIDATE_JAVASCRIPT_ES: true
          VALIDATE_CSS: true
