<div class="image-thumbnail-preview">
    <div class="thumbnails">
        <a href="#" title="{{trans "Remove Image"}}" rel="tooltip" class="pull-right remove-image">
            <b class="close">X</b>
        </a>

        <a href="#" class="thumbnail">
            <img src="{{ imagePath }}" />
        </a>
    </div>
</div>